<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ucs.dao.OrdinaryUserDeleteMapper">
	<delete id="deleteOne" parameterType="int">
		DELETE FROM t_ordianry_user
		WHERE id = #{id, jdbcType=INTEGER}
	</delete>
</mapper>